# Ignore Python bytecode
**/__pycache__
*.py[cod]

# Ignore Django migrations except __init__.py
**/migrations
**/migrations
!**/migrations

# Ignore virtual environments (optional, if you have one)
venv/
env/

# Ignore environment files
.env

# Ignore SQLite DB (if used)
*.sqlite3

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp


node_modules/
